doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    // Page level plugin CSS
    link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Dashboard
          li.breadcrumb-item.active My Dashboard
        // Icon Cards
        .row
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-primary.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fa.fa-fw.fa-comments
                .mr-5
                  | 26 New Messages!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fa.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-warning.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fa.fa-fw.fa-list
                .mr-5
                  | 11 New Tasks!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fa.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-success.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fa.fa-fw.fa-shopping-cart
                .mr-5
                  | 123 New Orders!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fa.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-danger.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fa.fa-fw.fa-support
                .mr-5
                  | 13 New Tickets!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fa.fa-angle-right
        // Area Chart Example
        .card.mb-3
          .card-header
            i.fa.fa-area-chart
            |  Area Chart Example
          .card-body
            canvas#myAreaChart(width='100%', height='30')
          .card-footer.small.text-muted
            | Updated yesterday at 11:59 PM
        .row
          .col-lg-8
            // Example Bar Chart Card
            .card.mb-3
              .card-header
                i.fa.fa-bar-chart
                |  Bar Chart Example
              .card-body
                .row
                  .col-sm-8.my-auto
                    canvas#myBarChart(width='100', height='50')
                  .col-sm-4.text-center.my-auto
                    .h4.mb-0.text-primary $34,693
                    .small.text-muted YTD Revenue
                    hr
                    .h4.mb-0.text-warning $18,474
                    .small.text-muted YTD Expenses
                    hr
                    .h4.mb-0.text-success $16,219
                    .small.text-muted YTD Margin
              .card-footer.small.text-muted
                | Updated yesterday at 11:59 PM
            // Card Columns Example Social Feed
            .mb-0.mt-4
              i.fa.fa-newspaper-o
              |  News Feed
            hr.mt-2
            .card-columns
              // Example Social Card
              .card.mb-3
                a(href='#')
                  img.card-img-top.img-fluid.w-100(src='https://unsplash.it/700/450?image=610', alt='')
                .card-body
                  h6.card-title.mb-1
                    a(href='#') David Miller
                  p.card-text.small
                    | These waves are looking pretty good today!
                    a(href='#') #surfsup
                hr.my-0
                .card-body.py-2.small
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-thumbs-up
                    | Like
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-comment
                    | Comment
                  a.d-inline-block(href='#')
                    i.fa.fa-fw.fa-share
                    | Share
                hr.my-0
                .card-body.small.bg-faded
                  .media
                    img.d-flex.mr-3(src='http://placehold.it/45x45', alt='')
                    .media-body
                      h6.mt-0.mb-1
                        a(href='#') John Smith
                      | Very nice! I wish I was there! That looks amazing!
                      ul.list-inline.mb-0
                        li.list-inline-item
                          a(href='#') Like
                        li.list-inline-item
                          | ·
                        li.list-inline-item
                          a(href='#') Reply
                      .media.mt-3
                        a.d-flex.pr-3(href='#')
                          img(src='http://placehold.it/45x45', alt='')
                        .media-body
                          h6.mt-0.mb-1
                            a(href='#') David Miller
                          | Next time for sure!
                          ul.list-inline.mb-0
                            li.list-inline-item
                              a(href='#') Like
                            li.list-inline-item
                              | ·
                            li.list-inline-item
                              a(href='#') Reply
                .card-footer.small.text-muted
                  | Posted 32 mins ago
              // Example Social Card
              .card.mb-3
                a(href='#')
                  img.card-img-top.img-fluid.w-100(src='https://unsplash.it/700/450?image=180', alt='')
                .card-body
                  h6.card-title.mb-1
                    a(href='#') John Smith
                  p.card-text.small
                    | Another day at the office...
                    a(href='#') #workinghardorhardlyworking
                hr.my-0
                .card-body.py-2.small
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-thumbs-up
                    | Like
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-comment
                    | Comment
                  a.d-inline-block(href='#')
                    i.fa.fa-fw.fa-share
                    | Share
                hr.my-0
                .card-body.small.bg-faded
                  .media
                    img.d-flex.mr-3(src='http://placehold.it/45x45', alt='')
                    .media-body
                      h6.mt-0.mb-1
                        a(href='#') Jessy Lucas
                      | Where did you get that camera?! I want one!
                      ul.list-inline.mb-0
                        li.list-inline-item
                          a(href='#') Like
                        li.list-inline-item
                          | ·
                        li.list-inline-item
                          a(href='#') Reply
                .card-footer.small.text-muted
                  | Posted 46 mins ago
              // Example Social Card
              .card.mb-3
                a(href='#')
                  img.card-img-top.img-fluid.w-100(src='https://unsplash.it/700/450?image=281', alt='')
                .card-body
                  h6.card-title.mb-1
                    a(href='#') Jeffery Wellings
                  p.card-text.small
                    | Nice shot from the skate park!
                    a(href='#') #kickflip
                    a(href='#') #holdmybeer
                    a(href='#') #igotthis
                hr.my-0
                .card-body.py-2.small
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-thumbs-up
                    | Like
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-comment
                    | Comment
                  a.d-inline-block(href='#')
                    i.fa.fa-fw.fa-share
                    | Share
                .card-footer.small.text-muted
                  | Posted 1 hr ago
              // Example Social Card
              .card.mb-3
                a(href='#')
                  img.card-img-top.img-fluid.w-100(src='https://unsplash.it/700/450?image=185', alt='')
                .card-body
                  h6.card-title.mb-1
                    a(href='#') David Miller
                  p.card-text.small
                    | It's hot, and I might be lost...
                    a(href='#') #desert
                    a(href='#') #water
                    a(href='#') #anyonehavesomewater
                    a(href='#') #noreally
                    a(href='#') #thirsty
                    a(href='#') #dehydration
                hr.my-0
                .card-body.py-2.small
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-thumbs-up
                    | Like
                  a.mr-3.d-inline-block(href='#')
                    i.fa.fa-fw.fa-comment
                    | Comment
                  a.d-inline-block(href='#')
                    i.fa.fa-fw.fa-share
                    | Share
                hr.my-0
                .card-body.small.bg-faded
                  .media
                    img.d-flex.mr-3(src='http://placehold.it/45x45', alt='')
                    .media-body
                      h6.mt-0.mb-1
                        a(href='#') John Smith
                      | The oasis is a mile that way, or is that just a mirage?
                      ul.list-inline.mb-0
                        li.list-inline-item
                          a(href='#') Like
                        li.list-inline-item
                          | ·
                        li.list-inline-item
                          a(href='#') Reply
                      .media.mt-3
                        a.d-flex.pr-3(href='#')
                          img(src='http://placehold.it/45x45', alt='')
                        .media-body
                          h6.mt-0.mb-1
                            a(href='#') David Miller
                          img.img-fluid.w-100.mb-1(src='https://unsplash.it/700/450?image=789', alt='')
                          | I'm saved, I found a cactus. How do I open this thing?
                          ul.list-inline.mb-0
                            li.list-inline-item
                              a(href='#') Like
                            li.list-inline-item
                              | ·
                            li.list-inline-item
                              a(href='#') Reply
                .card-footer.small.text-muted
                  | Posted yesterday
            // /Card Columns
          .col-lg-4
            // Example Pie Chart Card
            .card.mb-3
              .card-header
                i.fa.fa-pie-chart
                |  Pie Chart Example
              .card-body
                canvas#myPieChart(width='100%', height='100')
              .card-footer.small.text-muted
                | Updated yesterday at 11:59 PM
            // Example Notifications Card
            .card.mb-3
              .card-header
                i.fa.fa-bell-o
                |  Feed Example
              .list-group.list-group-flush.small
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      strong David Miller
                      | posted a new article to
                      strong David Miller Website
                      | .
                      .text-muted.smaller Today at 5:43 PM - 5m ago
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      strong Samantha King
                      | sent you a new message!
                      .text-muted.smaller Today at 4:37 PM - 1hr ago
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      strong Jeffery Wellings
                      | added a new photo to the album
                      strong Beach
                      | .
                      .text-muted.smaller Today at 4:31 PM - 1hr ago
                a.list-group-item.list-group-item-action(href='#')
                  .media
                    img.d-flex.mr-3.rounded-circle(src='http://placehold.it/45x45', alt='')
                    .media-body
                      i.fa.fa-code-fork
                      strong Monica Dennis
                      | forked the
                      strong startbootstrap-sb-admin
                      | repository on
                      strong GitHub
                      | .
                      .text-muted.smaller Today at 3:54 PM - 2hrs ago
                a.list-group-item.list-group-item-action(href='#')
                  | View all activity...
              .card-footer.small.text-muted
                | Updated yesterday at 11:59 PM
        // Example DataTables Card
        .card.mb-3
          .card-header
            i.fa.fa-table
            |  Data Table Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                
              thead
                  tr
                    th Fork Url
                    th Commit List
                    th Changed Files
                    th Total Lines of Changed Code
                    th Tag
                    th Keywords
                    th Last Commit time
                    th Created at
                tfoot
                  tr
                    th Name
                    th Commit List
                    th Changed Files
                    th Total Lines of Changed Code
                    th Tag
                    th Keywords
                    th Last Commit time
                    th Created at
                tbody
                  tr
                    td Tiger Nixon
                    td System Architect
                    td Edinburgh
                    td 61
                    td 2011/04/25
                    td $320,800
                    td 2011/04/25
                    td $320,800
                  tr
                    td Garrett Winters
                    td Accountant
                    td Tokyo
                    td 63
                    td 2011/07/25
                    td $170,750
                  tr
                    td Ashton Cox
                    td Junior Technical Author
                    td San Francisco
                    td 66
                    td 2009/01/12
                    td $86,000
                  tr
                    td Cedric Kelly
                    td Senior Javascript Developer
                    td Edinburgh
                    td 22
                    td 2012/03/29
                    td $433,060
                    td $433,060
                    td $112,000
          .card-footer.small.text-muted
            | Updated yesterday at 11:59 PM
      // /.container-fluid
      // /.content-wrapper

      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      // Page level plugin JavaScript
      script(src='vendor/chart.js/Chart.min.js')
      script(src='vendor/datatables/jquery.dataTables.js')
      script(src='vendor/datatables/dataTables.bootstrap4.js')

      include includes/js/custom.pug

      // Custom scripts for this page
      script(src='js/sb-admin-datatables.min.js')
      script(src='js/sb-admin-charts.min.js')
